@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Jossip Jair Escalaya Juarez</h1>
    <p>Facebook: <a href="https://fb.com/jossip.escalaya">Perfil Facebook</a>.</p>
</div>
